/*
---00 WHITESPACE SYSTEM / ATOM

    - Spaging system (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

---01 TYPOGRAPHY SYSTEM / ATOM
    

    - Font sizes (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/****************************************/
/*        BOTONES DE LA PÁGINA          */
/****************************************/
.btn-page {
  display: inline-block;
  padding: 15px 30px; 
  font-size: 2rem; 
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
  background-color: var(--negro);
  color: var(--blanco);
  margin-top: 40px;
}

/* Efecto hover */
.btn-page:hover {
  background-color: var(--hover-btn);
}


/****************************************/
/*                 PORTADA              */
/****************************************/
.portada{
  width: 100%;
  height: 70%;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.img-fondo {
  left: 0;
  width: 100%;
  object-fit: cover;
}

/****************************************/
/*                  INTRO               */
/****************************************/
.title-intro {
  background-color: #222222;
  padding: 30px 0; 
  text-align: center; 
  width: 100%; 
}

.title-intro h1 {
  color: var(--blanco); 
  font-size: 4em; 
  margin-bottom: 30px;
  animation: fadeIn 3s; /* Animación para que el texto aparezca gradualmente */
}

.title-intro p {
  color: var(--blanco); 
  font-size: 1.6em; 
  margin-top: 10px;
  margin-left: 20px;
  text-align: left;
  line-height: 1.1;
  animation: fadeIn 3s;
}

/* Configuración de la animación */
@keyframes fadeIn {
  0% { opacity: 0; } /* empieza transparente */
  100% { opacity: 1; } /* termina completamente opaco */
}

/****************************************/
/*          ¿QUÉ ES EL FLAMENCO?        */
/****************************************/
.flamenco {
  background: url(../img/palmas2.jpg) no-repeat center center; 
  background-size: cover;
  padding: 4rem;
  color: var(--negro);
  /* Esto asegura que el css se vea bien en otros navegadores */
  -webkit-background-size: cover; /* Chrome, Safari*/
  -moz-background-size: cover; /* Firefox */
  -o-background-size: cover; /* Opera */
}

.flamenco-container {
  margin: 0 auto;
  padding: 1rem;
}

.flamenco-title {
  text-align: left;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.flamenco-content {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.flamenco-content p {
  font-size: 1.8rem;
  line-height: 1.7;
  margin-bottom: 1rem;
  font-weight: 500;
}

.columna-2 p {
  margin-bottom: 2rem;
}

.btn-flamenco {
  display: block;
  width: 300px;
  margin: 2rem auto;
  margin-top: 40px;
}

/****************************************/
/*          ARTISTA DESTACADO           */
/****************************************/

.Artista {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--negro);
  padding: 2rem;
  color: var(--blanco);
}

.Artista-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.Artista-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Artista-content p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  text-align: justify;
  width: 79%;
}

.Artista-content p:nth-child(odd) { /* Parrafos pares */
  background-color: var(--hover-btn);
  padding: 1rem;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.Artista-content p:nth-child(2) { /* Segundo parrafo */
  background-color: #222222;
  padding: 1rem;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
}


.Artista-video {
  width: 60%;
  margin-top: 2rem;
}

.Artista-video video {
  width: 100%;
  border-radius: 10px;
}

.Artista-content p:last-child { /* Ultimo parrafo */ 
  text-align: center;
  font-size: 1.6rem;
  margin-top: 2rem;
}

/****************************************/
/*          MAIN - JUEGO PALOS          */
/****************************************/
#Juego {
  max-width: 80%;
  margin: 0 auto;
  background-color: var(--negro);
  color: var(--blanco);
  padding: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

#Juego h2 {
  font-size: 2.4em;
  margin: 20px;
}

#Juego audio {
  width: 100%;
  margin-bottom: 20px;
  margin: 30px;
}

/* Botones de las opciones de respuesta */
#Juego button {
  display: inline-block;
  margin: 10px;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: var(--hover-btn);
  color: var(--blanco);
  border: none;
  cursor: pointer;
}

#Juego button:hover {
  background-color: #222222;
}

/* Botón 'Reiniciar juego' */
#restart-button {
  border-radius: 30px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em !important;
  cursor: pointer;
  /*margin: 10px !important;*/
}

#restart-button:hover {
  background-color: #222222;
}

#opciones-list li {
  display: inline-block;
  margin: 10px;
  color: var(--blanco);
  border: none;
  cursor: pointer;
  font-size: 1.2em;
}

/* Estilos para el mensaje de respuesta correcta/incorrecta */
#Juego #message {
  margin-top: 20px;
  font-size: 1.2em;
}

/****************************************/
/*            CURIOSIDADES              */
/****************************************/

.title-patronZ {
  background-color: #222222;
  padding: 30px 0; 
  text-align: center; 
  width: 100%; 
  z-index: 1; /* La franja estará por encima del resto del contenido */
}

.title-patronZ h3 {
  color: var(--blanco); 
  font-size: 3em; 
}

#curiosidades {
  display: flex;
  justify-content: center;
}

.grid1{
  grid-column: 1;
  grid-row: 1;
}
.grid2{
  grid-column: 2/4;
  grid-row: 1;
}

.grid3{
  grid-column: 1/3;
  grid-row: 2;
}

.grid4{
  grid-column: 3;
  grid-row: 2;
}

.grid5{
  grid-column: 1;
  grid-row: 3;
}

.grid6{
  grid-column: 2/4;
  grid-row: 3;
}

.grid {
  padding: 5rem;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;  /* Esto crea dos columnas */
  width:100%; margin: 0;
  background-color: var(--negro);
  column-gap: 20px;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
              0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.grid_item_img{display: flex;
  justify-content: center;
  align-items: center;
}

.grid_item_img img{
width: 500px;
height: 300px;
object-fit: cover;
border-radius: 10px;
transition: transform 0.3s ease-in-out; /* Transición suave en efecto hover*/
}

.grid_item_img:hover img{
  transform: scale(1.10); /* amplia la imagen al pasar el ratón */
}

.grid_item_txt{
  color: var(--blanco);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Roboto Serif", serif;
  font-weight: 700;
  transition: color 0.3s ease-in-out; /* Transición para el color del texto */
  transition: transform 0.3s ease-in-out;
}

.grid_item_txt:hover {
  color: var(--blanco); /* cambia el color al pasar el ratón */
  transform: scale(1.10);
}

.grid-left{
  justify-self: start;
  margin-right: 100px;
}
.grid-right{
  justify-self: end;
  margin-left: 100px;
}

/****************************************/
/*              NOTICIAS                */
/****************************************/

.news {
  margin: auto;
  overflow: hidden;
  position: relative;
  align-items: center;
  background-color: #222222;
}

.news-header {

  margin: 30px auto;
  width: 40%; 
  padding: 10px 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 2.5em;
  font-weight: 800;
  color: var(--blanco);
}

.news-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.news-item {
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
  background-color: var(--negro);
  padding: 40px;
  width: 60%; 
  margin: auto;
  min-height: 500px;
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.news-item img {
  display: block;
  margin: auto;
  width: 40%;
  height: auto; 
  object-fit: cover; /* Redimensionar imagenes correctamente */
}

.textoNoticia {
  text-align: center;
  font-size: 18px;
  color: var(--blanco);  
}

.textoContainer {
  position: absolute; 
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; 
  padding: 10px; 
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 20px;
}

.news-btn {
  text-align: center;
  background-color: var(--negro);
  padding: 0px;
}

.btn.VerNoticias {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
  background-color: var(--negro);
  color: var(--blanco);
  margin-bottom: 40px;
}

/* Efecto hover */
.btn.VerNoticias:hover {
  background-color: var(--hover-btn);
}

/****************************************/
/*          PAGINA DEL LOGIN            */
/****************************************/

.login-container {
  width: 400px;
  margin: 80px auto;
  background-color: var(--negro);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 8px 16px 0px var(--hover-btn);
  text-align: center;
}

.login-title {
  color: var(--blanco);
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 800;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form label {
  color: var(--blanco);
  text-align: left;
  font-weight: 600;
}

.login-form input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--hover-btn);
  background-color: #ccc;
  color: var(--negro);
  font-size: 1rem;
}

.login-register {
  margin-top: 20px;
  color: var(--blanco);
}

.login-register a {
  color: var(--hover-btn);
  font-weight: bold;
}

/****************************************/
/*         PAGINA DEL REGISTRO          */
/****************************************/

.register-container {
  width: 400px;
  margin: 80px auto;
  background-color: var(--negro);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 8px 16px 0px var(--hover-btn);
  text-align: center;
}

.register-title {
  color: var(--blanco);
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 800;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.register-form label {
  color: var(--blanco);
  text-align: left;
  font-weight: 600;
}

.register-form input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--hover-btn);
  background-color: #ccc;
  color: var(--negro);
  font-size: 1rem;
}

.register-login {
  margin-top: 20px;
  color: var(--blanco);
}

.register-login a {
  color: var(--hover-btn);
  font-weight: bold;
}

