/*
---00 WHITESPACE SYSTEM / ATOM

    - Spaging system (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

---01 TYPOGRAPHY SYSTEM / ATOM
    

    - Font sizes (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/****************************************/
/*             CABECERA                 */
/****************************************/

header {
  width: 100%;
  height: 100px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: var(--negro);
  box-shadow: inset 0 -6em 6em var(--negro), 
              0 0 0 2px var(--negro),
              0.3em 0.3em 1em var(--negro);
  z-index: 10;
}

.menu {
  display: flex;
}

.menu-icon {
  cursor: pointer;
  width: 20px;
  height: 60px;
  position: relative;
  z-index: 20; /* Para que se superponga al menu desplegable */
  margin-top: 40px;
  margin-left: -20px;
}

.menu-icon span {
  display: block;
  background: var(--blanco);
  height: 1.6px;
  width: 18px;
  margin: 1px 0;
  position: relative;
  left: 0;
  transition: all 0.3s ease;
  transform-origin: center;
}

.menu-icon.open span {
  background-color: var(--blanco);
  position: absolute;
  top: 0;
  left: 0;
}

.menu-icon span:nth-child(1) {
  top: 0;
}

.menu-icon span:nth-child(2) {
  top: 4px;
}

.menu-icon.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 6px;
}

.menu-icon.open span:nth-child(2) {
  transform: rotate(-45deg);
  top: 6px;
}

.menu-icon span:nth-child(3) {
  top: 8px;
}

.menu-icon.open span:nth-child(3) {
  display: none;
}

.menu-desplegable {
  position: absolute;
  z-index: 10;
  margin-top: 60px;
  display: none; /* Oculta el menu por defecto */
}

.menu-desplegable.open {
  display: block; /* Muestra el menu cuando se hace click */
  background: var(--negro);
}

/* Estilos para el menú desplegable */
.menu-desplegable {
  display: none;
  background-color: var(--negro); 
  box-shadow: 0px 8px 16px 0px var(--hover-btn); 
  padding: 12px 16px; 
  position: absolute; /* Posicionamiento absoluto para que el menú desplegable se muestre encima del contenido */
  min-width: 200px; 
  left: 0; 
  margin-top: 400px;
  margin-left: -20px;
  padding-left: 20px;
}

/* Muestra el menú desplegable cuando tiene la clase 'open' */
.menu-desplegable.open {
  display: block;
}

/* Estilos para los enlaces del menú desplegable */
.menu-desplegable a {
  color: var(--blanco); 
  padding: 12px 16px; 
  text-decoration: none; 
  display: block; 
}

/* Estilos para la lista del menú desplegable */
.menu-desplegable ul {
  list-style-type: none; /* Elimina los puntos de la lista */
  margin-top: 40px;
  font-size: 14px;
}

/* Cambia el color de fondo de los enlaces al pasar el ratón por encima */
.menu-desplegable a:hover {
  background-color: var(--hover-btn); 
}

.logo-header {
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.botones-header ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

/* Clase base para todos los botones y enlaces con la clase .btn */
button.btn, a.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
  background-color: var(--negro);
  color: var(--blanco);
}

/* Efecto hover */
button.btn:hover, a.btn:hover {
  background-color: var(--hover-btn);
}


/****************************************/
/*        BOTONES DE LA PÁGINA          */
/****************************************/
.btn-page {
  display: inline-block;
  padding: 15px 30px; 
  font-size: 1.4rem; 
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
  background-color: var(--negro);
  color: var(--blanco);
  margin-top: 30px;
}

/* Efecto hover */
.btn-page:hover {
  background-color: var(--hover-btn);
}

/****************************************/
/*            SECCIÓN VACÍA             */
/****************************************/
/*.espacio-vacio {
  height: 110px; 
}
  */

/****************************************/
/*              PORTADA                 */
/****************************************/
.portada {
  width: 100%;
  background-color: var(--negro);
}

.portada-container {
  width: 70%;
  height: 800px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.img-fondo {
  width: 100%;
  object-fit: cover;
}


/****************************************/
/*             DESCRIPCIÓN              */
/****************************************/
.descripcion {
  background-color: var(--negro);
  width: 100%; 
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
  font-size: 1.4em; 
  color: var(--blanco); 
  animation: fadeIn 3s; /* Animación para que el texto aparezca gradualmente */
}

/* Configuración de la animación */
@keyframes fadeIn {
  0% { opacity: 0; } /* empieza transparente */
  100% { opacity: 1; } /* termina completamente opaco */
}

/****************************************/
/*              HISTORIA                */
/****************************************/
.historia-title h2 {
  font-size: 4em;
  color: var(--negro); 
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--blanco);
}

.historia-content{
  text-align: center;
  margin-bottom: 20px;
}

.historia-content p {
  font-size: 1.2em;
  color: var(--blanco); 
  margin: 40px;
  text-align: justify; 
}

.historia-container {
  background-color: var(--negro);
  display: flex;
  flex-direction: column;/*¿necesario?*/
  align-items: center;
}

/****************************************/
/*            SEPARADOR                 */
/****************************************/
.separador {
  width: 50%;
  height: 0;
  margin-top: 20px;
  border-top: 80px solid var(--hover-btn);
  border-left:  0 solid var(--hover-btn);
  border-right: 50vw solid var(--negro);
}


/****************************************/
/*        PALOS DEL FLAMENCO            */
/****************************************/
.palos-title {
  background-color: var(--negro);
  padding: 20px; 
  text-align: center; 
  width: 100%; 
}

.palos-title h3 {
  font-size: 3em;
  color: var(--blanco); 
  margin-top: 0;
  margin-bottom: 10px;
}

.palos-container {
  background-color: var(--negro);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.palos-texto {
  flex: 0.5; /* El texto ocupará el 50% del espacio */
  padding: 20px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.palos-texto p {
  color: var(--blanco);
  font-size: 1.2em;
  margin: 10px;
}

.palos-texto p:first-of-type {
  margin-bottom: 50px; /* Espacio entre párrafos */
}

.palos-img-container {
  flex: 1.5; /* La imagen ocupará el 150% del espacio */
}

.palos-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 50px;
}

/****************************************/
/*             EL COMPÁS                */
/****************************************/
.compas {
  background-color: var(--negro);
  width: 100%; 
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
  color: var(--blanco); 
}

.compas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.compas-title h3 {
  font-size: 3em;
  color: var(--blanco); 
  margin-top: 20px;
  margin-bottom: 10px;
}

.compas-content p {
  font-size: 1.2em;
  color: var(--blanco); 
  margin: 20px;
  margin-bottom: 60px;
  text-align: justify; 
}

.compas-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.compas-img img {
  width: 60%; 
  height: auto; 
  margin: 10px; 
}


/****************************************/
/*               EL RITMO               */
/****************************************/
.ritmo {
  background-color: var(--negro);
  width: 100%; 
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
  font-size: 1.2em; 
  color: var(--blanco); 
}

.ritmo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.ritmo-title h3 {
  font-size: 3em;
  color: var(--blanco); 
  margin-top: 20px;
  margin-bottom: 10px;
}

.ritmo-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ritmo-content .columna-1 {
  flex: 1;
  margin: 40px;
  padding: 60px;
  background-color: var(--hover-btn);
  color: var(--blanco); 
  text-align: justify; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ritmo-content .columna-2 {
  flex: 1;
  margin: 40px;
  padding: 60px;
  background-color: #222222;
  color: var(--blanco); 
  text-align: justify; 
}


/****************************************/
/*               LA LETRA               */
/****************************************/
.letras {
  background-color: var(--negro);
  width: 100%; 
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
  color: var(--blanco); 
}

.letras-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.letras-title h3 {
  font-size: 3em;
  color: var(--blanco); 
  margin-top: 20px;
  margin-bottom: 10px;
}

.letras-content p {
  font-size: 1.2em;
  color: var(--blanco); 
  margin: 20px;
  text-align: justify; 
}

.letras-img-texto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 80px;
}

.letras-img-texto img {
  width: 40%;
  height: auto;
  margin: 40px;
  margin-left: 100px;
}

.letras-img-texto p {
  margin-left: 60px;
  margin-right: 80px;
  font-size: 1.2em;
}


/****************************************/
/*               EL BAILE               */
/****************************************/
.baile {
  background-color: var(--negro);
  width: 100%; 
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
  color: var(--blanco); 
}

.baile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.baile-title h3 {
  font-size: 3em;
  color: var(--blanco); 
  margin-top: 20px;
  margin-bottom: 10px;
}

.baile-content p {
  font-size: 1.2em;
  color: var(--blanco); 
  margin: 20px;
  text-align: justify; 
}

.baile-img {
  background-color: var(--hover-btn);
  width: 100%;
  padding: 40px 0; 
}

.baile-img img {
  display: block;
  margin: auto; /* Centra la imagen dentro del contenedor */
}


/****************************************/
/*               FOOTER                 */
/****************************************/
.parte2{
  background-color: var(--negro);
  padding:6px 24px;
  color:var(--blanco); 
  display:flex;
  justify-content:space-between;
}

.partegrid{
  background-color: #222222;
  display:grid;
  grid-template-columns: repeat(4,1fr);
  padding:24px 24px;
}


.social-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: var(--blanco);
}

.footer{
  width:100%;
  margin: 0 auto;
  align-items: center;
}

.social-links{
  display: flex;
  gap: 1.5rem;
}

.social-icon{
  width: 1rem;
  height: 1rem;
}

.partegrid{
  background-color: #222222;
  display: grid;
  align-items: center;
  justify-content: center;
}

.grid_logo{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: left;
  padding-left: 10%;
}

.logo{
  width: 60px;
}

.grid_contac{
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 0%;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
  
}

.footer-contac{
  font-size: 1.6rem;
  color: var(--blanco);
}

.grid_nav-col1{
  display: grid;
  align-items: right;
  justify-items: left;
  padding-left: 15%;
  line-height: 1.2;
}

.grid_nav-col2{
  display: grid;
  justify-items: left;
  padding-left: 40%;
  line-height: 1.2;
}

.email, .telefono, .footer-link {
  cursor: pointer; /*cambiar puntero a mano al pasar por encima*/
  color: var(--blanco);
  text-decoration: none;
  font-size: 1.2rem;
}

.copyright{
  font-size: 1.2rem;
  color: var(--blancon);
  font-weight: 400;
  text-align: center;
  padding: 0.2rem;
}